<body class="wrapper">
    <main class="wrapper_main">      
        <div class="user">
            <h2>Informações da conta:</h2>
            <div class="accinfotop accinfo">
                <h3>Usuário:</h3>
                <h3 class="datamargin"> <%=user.username%> </h3>
            </div>
            <div class="accinfo">
                <h3>Email:</h3>
                <h3 class="datamargin"> <%=user.email%> </h3>
            </div>
            <div class="accinfo">
                <h3>Data de criação:</h3>
                <h3 class="datamargin"><%=user.createdAt%> </h3>
            </div>
            <button type="button" class="account_button" id="mudarBtn">Mudar Senha</button>
            <div id="modalmudar" class="modal">
                <div class="modal-changepassword">
                    <div class="center-container">
                        <div>
                            <label class="fs-5">Senha:</label>
                            <input id="password" name="password" class="text-input w-30 fs-6 my-2" type="password"/>
                        </div>
                        <div>
                            <label class="fs-5">Confirmar senha:</label>
                            <input id="passwordconfirm" name="passwordconfirm" class="text-input w-30 fs-6 my-2" type="password"/>
                        </div>
                        <button type="button" class="account_button" id="accountChangePass" onClick="mudarSenhaUsuario()">Confirmar</button>
                        <button type="button" class="account_button" id="closemudar">Voltar</button>
                    </div>
                </div>
            </div>


            <button type="button" class="account_button" id="deletarBtn">Deletar Conta</button>
            
            <div id="modal" class="modal">
                <div class="modal-confirm">
                    <div class="center-container">
                        <h2>Tem certeza que deseja excluir sua conta?</h2>
                        <h4>(todas as suas playlists serão excluidas também!)</h4>
                        <button type="button" class="account_button" id="accountDelete" onClick="deletarUsuario()">Sim</button>
                        <button type="button" class="account_button" id="close">Não</button>
                    </div>
                </div>
            </div>

            <div class="accinfo">
                <h3>Nº de Playlists:</h3>
                <h3 class="datamargin">4</h3>
            </div>

            <div id = "playlist_list">
            </div>
        </div>
    </main>

    <script>
        localStorage.setItem('userid', '<%= user.id%>')
        
    </script>

    <script src="/js/conta.js"></script>
</body>
